.formControl {

}

.formControl.error input,
.formControl.error textarea {
    border: solid orangered 3px;
}

.formControl.error span {
    color: darkred;
}

.formSummaryError {
    border: solid red 3px;
    padding: 5px;
    color: darkred;
}