.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: cadetblue;
}

.dialogsItems .active {
    color: brown;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: burlywood;
}