.box {
    position: relative;
    overflow: hidden;
    width: 1000px;
    height: 300px;
}

.box img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.descriptionBlock {
    padding: 10px;

}

.profileContacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.status {
    color: aliceblue;
    font-style: oblique;
}
